@media only screen and (max-width:900px) and (min-width:650px){
    .input{
        padding: 15px 20px;
    }
    .list-items{
        width: 80%;
    }
}
@media only screen and (max-width:649px){
    .input{
        width: 100%;
        padding: 15px 20px;
    }
    .list-items{
        width: 80%;
    }
    .input-list{
        flex-direction: column;
    }
}