*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: lightblue;
    width: 70%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    border-radius: 20px;
}
.heading{
    margin-bottom: 40px;
}
.input-list{
    width: 80%;
    display: flex;
    justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
}
.input{
    width: 50%;
    padding: 15px 50px;
    border-radius: 10px;
    border: 2px solid lightsteelblue;
    outline: none;

}
.Addbtn{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.list-items{
    width: 550px;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: inside;
    padding: 0;
    list-style-type: decimal;
}
.list-items li{
    border: 2px solid black;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
}